<nav class="nav navbar-light bg-light justify-content-between pt-2 pb-2 pr-3 pl-3">
  <div class="nav-brand">
    <a class="navbar-brand pr-4" href="/"><strong>PLUS SIZE ME</strong></a>
  </div>

  <div class="nav-search">
    <form class="form-inline d-flex" action="/products" method="get">
      <input class="form-control" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn text-secondary" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>

  <div class="nav-menu d-flex">
    <% if current_user %>
      <a class="btn text-dark ml-2 mt-1" href="/orders" role="button"><i class="fas fa-shopping-cart"></i></a>
      <%= link_to "Add Product", new_product_path, class: "btn btn-dark ml-2" %>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <i class="fas fa-user-circle fa-lg avatar text-dark ml-3 mt-2 pt-1" data-toggle="dropdown"></i>
          <div class="dropdown-menu dropdown-menu-right">
            <p class="pl-3 pt-2"><%= "Hi, #{current_user.first_name}!" %></p>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn pl-3 pt-0", data: { confirm: "Are you sure you want to disconnect?" } %>
          </div>
        </li>
      </ul>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-dark ml-2" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark ml-2" %>
    <% end %>
  </div>
</nav>
