<h2>Edit Your Product</h2>

<%= simple_form_for(@product) do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :gender, collection: Product::GENDER %>
  <%= form.input :size, collection: Product::SIZE %>
  <%= form.input :brand %>
  <%= form.input :category, collection: Product::CATEGORY %>
  <%= form.input :price %>
  <%= form.input :photo, as: :file %>
  <%= form.submit %>
<% end %>

<p><%= link_to "Back To Product", product_path(@product.id) %></p>
