<!-- <p><%= link_to "Add A Product", new_product_path %></p> --> <%# Move to navbar if user authorized %>

<div class="card-deck">
  <% @products.each do |product| %>
  <div class="row card-img-top col-md-3" >
    <%= link_to product_path(product.id) do %>
      <img class="card-img-top"><%= cl_image_tag product.photo.key, height: 280, width: 280, crop: :fill, alt: product.name %>
        <%= "#{product.name}" %>
        <% if (current_user != product.user) && current_user.present? %>
          <% if product.is_it_in_the_shopping_cart?(current_user) %>
            <%= link_to "Remove from Cart", order_product_path(product.cart_product(current_user)), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Add to cart", order_products_path(product_id: product.id), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
    <% end %>
  </div>
  <% end %>
</div>
