<!-- <p><%= link_to "Add A Product", new_product_path %></p> --> <%# Move to navbar if user authorized %>

<div class="card-deck">
  <% @products.each do |product| %>
  <%= link_to product.name, product_path(product.id) %> · <%= link_to "Delete", product_path(product.id), method: :delete, data: { confirm: "Delete #{product.name}?" } %>
  <div class="card-img-top col-md-12" >
    <img class="card-img-top"> <%= cl_image_tag product.photo.key, crop: :fit, height: 450, width: 500, alt: product.name %>
    <div class="card-footer">
      <p class="card-text"> <%= product.name %></p>
    </div>
  </div>
  <% end %>
</div>
