<div class="container">
  <div class="cards-grid">
    <% @products.each do |product| %>
      <div class="card-category" >
        <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, height: 180, width: 280, crop: :fill %>
        <% end %>
        <%= link_to product.name, product_path(product.id) %> · <%= link_to "Delete", product_path(product.id), method: :delete, data: { confirm: "Delete #{product.name}?" } %> .
        <%= link_to "Edit", edit_product_path(product.id) %>
      </div>
    <% end %>
  </div>
</div>

<p><%= link_to "Homepage", root_path %></p>
