
<%# The user can only add a new product if logged in - authorization + navbar %>

<%= simple_form_for(@product) do |form| %>
  <div class="contrainer pt-2">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-3">
        <h2 class="text-center mb-5 devise-padding">Sell your product!</h2>
        <div class="row">
          <div class="col">
            <div class="form-inputs">
              <div class="row">
                <div class="col">
                  <%= form.input :name %>
                  <%= form.input :description %>
                  <%= form.input :gender, collection: Product::GENDER %>
                  <%= form.input :size, collection: Product::SIZE %>
                  <%= form.input :brand %>
                  <%= form.input :category, collection: Product::CATEGORY %>
                  <%= form.input :photo, as: :file %>
                  <%= form.input :price %>
                  <div class="row">
                    <div class="col">
                      <%= form.submit %>
                    </div>
                    <div class="col">
                      <p><%= link_to "All Products", products_path %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



